.hamburger {

	display: block;
	position: fixed;
	z-index: 8;
	top: calc( (#{$header-height} / 2) - 5px );
	left: 30px;
	width: 22px;
	height: 10px;

	cursor: pointer;
	@include grid-media( $tablet-grid ) {
		left: $tablet-gutter;
	}

	@include grid-media( $medium-grid ) {

		visibility: hidden;
		opacity: 0;

	}

	&__slice {
		display: block;
		position: absolute;
		height: 2px;
		width: 22px;

		background: $grey-scaled;

		transition: all $transition-duration-default ease-in-out;

		&:nth-child(1) {
			top: 0;

			@at-root .hamburger:hover & {
				top: -2px;
			}

			@at-root .hamburger--active & {
				top: 4px;

				transform: rotate(45deg);
			}

			@at-root .hamburger--active:hover & {
				top: 4px;
			}
		}

		&:nth-child(2) {
			top: 4px;

			@at-root .hamburger--active & {
				opacity: 0;
			}
		}

		&:nth-child(3) {
			top: 8px;

			@at-root .hamburger:hover & {
				top: 10px;
			}

			@at-root .hamburger--active & {
				top: 4px;

				transform: rotate(-45deg);
			}

			@at-root .hamburger--active:hover & {
				top: 4px;
			}
		}
	}
}
